In [ ]:
import pandas as pd

df = pd.read_excel('D:/数据分析/源码压缩/数据源/人口数据.xlsx')
df.head()   # 默认查看前5行数据
df.tail()   # 默认查看后5行数据

In [ ]:
# 查看数据类型
df.info()

In [8]:
# 查看数据形状
df.shape

(8772, 6)

In [9]:
# 查看数据分布情况
df.describe()

              Counts
count    8772.000000
mean    32082.147971
std     39710.778433
min       214.000000
25%      7665.000000
50%     19512.500000
75%     39885.000000
max    297108.000000