In [ ]:
import pandas as pd

df = pd.read_excel('D:/数据分析/源码压缩/数据源/人口数据.xlsx')
df.head()

In [ ]:
# 修改索引名
df.index.name = 'index'
# 修改索引值
df.index = range(1,len(df)+1)
df

In [15]:
# 清空索引名
df.index.name = None
df.head()

      Division         Name     Region Age Gender  Counts
1  New England  Connecticut  Northeast   0   Male   21835
2  New England  Connecticut  Northeast   1   Male   22791
3  New England  Connecticut  Northeast   2   Male   22272
4  New England  Connecticut  Northeast   3   Male   23422
5  New England  Connecticut  Northeast   4   Male   23811