In [7]:
import pandas as pd

df = pd.DataFrame({
    'A':[1,2,3,4,5],
    'B':[6,7,8,9,10],
    'C':[11,12,13,14,15]})
df.isin([1,3,6,11])
df['A'].isin([1,3,6,11])
df[['A','C']].isin([1,3,6,11])
df.isin({'A':[1,3],'B':[6,8]})

       A      B      C
0   True   True  False
1  False  False  False
2   True   True  False
3  False  False  False
4  False  False  False