In [ ]:
import pandas as pd

df = pd.read_excel('D:/数据分析/源码压缩/数据源/人口数据.xlsx')
a = df.groupby('Division')

In [ ]:
# 汇总数据
a.max()
a.agg('max')

In [ ]:
a['Counts'].max()
a['Counts'].agg('max')

In [14]:
a['Counts'].agg(['max','min','count'])

                       max   min  count
Division
East North Central  139050  5846    860
East South Central   59620  2396    688
Middle Atlantic     224487  8831    516
Mountain             45497   487   1376
New England          85744   590   1032
Pacific             297108   214    860
South Atlantic      219130   480   1548
West North Central   71626   949   1204
West South Central  175011  2979    688