In [ ]:
import pandas as pd

a = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
b = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 35]})
'''
how:inner(内连接)、left、right、outer
on:可选参数,用于指定用于合并的列或索引的名称
left_on、right_on:可选参数,表示左右DataFrame对象中用于合并的列的名称.可以分别指定不同的列进行合并
left_index、right_index:可选参数,表示是否使用左/右DataFrame对象的索引进行合并。默认值为False,表示不使用索引
'''

In [4]:
pd.merge(a,b)
pd.merge(a,b)

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30

In [7]:
a = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
b = pd.DataFrame({'UID': [2, 3, 4], 'Age': [25, 30, 35]})

In [11]:
pd.merge(a,b,left_on='ID',right_on='UID')
pd.merge(a,b,left_index=True,right_index=True)  # 可能会不对

   ID     Name  UID  Age
0   1    Alice    2   25
1   2      Bob    3   30
2   3  Charlie    4   35