In [ ]:
import pandas as pd

df = pd.read_excel('D:/数据分析/源码压缩/数据源/date_test.xlsx',index_col='date')
df

In [ ]:
df.index.year
df.index.month
df.index.day

In [ ]:
# 按时间数据分组
a = df.groupby(df.index.year)
a.mean()

In [ ]:
# 通过resample进行重采样
df.resample('YE').mean()
df.resample('2YE').mean()
df.resample('1ME').mean()

In [71]:
# 重新创建索引
new_index = pd.date_range('2025-01-01','2037-12-29')
# df.reindex(index=new_index)        # 有重复的数据
df[df.index.duplicated()]            # 查找重复值
a = df[~df.index.duplicated()].reindex(index=new_index,method='ffill')

# 数据偏移
a.shift(-2)

                Open      High       Low     Close      Volume   Adjusted
2025-01-01   0.70247   0.71728   0.70247   0.71296         0.0   0.618499
2025-01-02   0.70988   0.72145   0.69414   0.69599  10958717.0   0.603777
2025-01-03   0.70988   0.72145   0.69414   0.69599  10958717.0   0.603777
2025-01-04   0.70231   0.70648   0.69614   0.69676   9845971.0   0.604445
2025-01-05   0.69599   0.70957   0.69460   0.70201  13667162.0   0.608999
...              ...       ...       ...       ...         ...        ...
2037-12-25  12.54000  12.57000  12.10000  12.18000  53813380.0  12.180000
2037-12-26  12.20000  12.28000  12.06000  12.18000  33692919.0  12.180000
2037-12-27  12.18000  12.33000  12.14000  12.29000  25372331.0  12.290000
2037-12-28       NaN       NaN       NaN       NaN         NaN        NaN
2037-12-29       NaN       NaN       NaN       NaN         NaN        NaN

[4746 rows x 6 columns]