In [ ]:
import pandas as pd

df = pd.read_excel('D:/数据分析/源码压缩/数据源/stu.xlsx')

In [ ]:
# 透视表
df.pivot_table(values=['支出'],index=['课程','软件'],columns=['性别'],aggfunc=['mean','sum'])

In [5]:
# 交叉表
pd.crosstab(index=df['课程'],columns=df['性别'],values=df['支出'],aggfunc='mean')

性别         女        男
课程
概率统计  28.500  22.2375
统计方法  33.200  30.4625
编程技术  21.100  25.6000
都学习过  23.800  12.3000
都未学过  27.825   7.1500