成长类因子选股
规模类因子选股
价值类因子选股
质量类因子选股

In [2]:
import jqdatasdk as jq
import pandas as pd
jq.auth('15661317439','Ax020629.')

auth success

营业收入同比增长率选股

同比增长率是相对于上一年度的同一期的数据

In [6]:
from jqdatasdk import *

# indicator为财务指标数据库
q = query(indicator).filter(
    indicator.inc_revenue_year_on_year > 800
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,day,pubDate,statDate,eps,adjusted_profit,operating_profit,value_change_profit,roe,...,inc_total_revenue_year_on_year,inc_total_revenue_annual,inc_revenue_year_on_year,inc_revenue_annual,inc_operation_profit_year_on_year,inc_operation_profit_annual,inc_net_profit_year_on_year,inc_net_profit_annual,inc_net_profit_to_shareholders_year_on_year,inc_net_profit_to_shareholders_annual
0,101027640,000151.XSHE,2023-01-01,2022-10-28,2022-09-30,-0.0461,-14955001.33,-12408555.69,0.00,-1.78,...,846.84,26.45,846.84,26.45,-401.52,-346.43,-592.84,-506.68,-379.12,-165.53
1,101027326,000509.XSHE,2023-01-01,2022-10-28,2022-09-30,-0.0029,-3187309.10,-3771903.82,0.00,-2.14,...,1061.69,-40.42,1061.69,-40.42,66.72,-132.12,71.83,-133.06,65.42,-165.50
2,101028035,000668.XSHE,2023-01-01,2022-10-28,2022-09-30,-0.0923,-12584009.99,3294584.27,0.00,-1.10,...,1171.96,11.31,1171.96,11.31,57.92,-177.46,21.68,-549.23,31.19,-69.43
3,101027553,000737.XSHE,2023-01-01,2022-10-28,2022-09-30,0.0318,56988958.39,60148750.77,0.00,1.30,...,854.39,-11.29,854.39,-11.29,1222.34,-74.26,795.12,-77.92,818.23,-77.92
4,101028673,000820.XSHE,2023-01-01,2022-10-27,2022-09-30,-0.0015,-965223.30,-738603.38,6248.98,-1.20,...,14574.20,234.20,14574.20,234.20,-112.25,-541.04,-112.13,-1271.32,-106.23,-160.06

营业收入环比增长率选股

环比增长率是相对于上一期的数据

In [5]:
q = query(indicator).filter(
    indicator.inc_revenue_annual > 800
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,day,pubDate,statDate,eps,adjusted_profit,operating_profit,value_change_profit,roe,...,inc_total_revenue_year_on_year,inc_total_revenue_annual,inc_revenue_year_on_year,inc_revenue_annual,inc_operation_profit_year_on_year,inc_operation_profit_annual,inc_net_profit_year_on_year,inc_net_profit_annual,inc_net_profit_to_shareholders_year_on_year,inc_net_profit_to_shareholders_annual
0,101025820,000046.XSHE,2023-01-01,2022-10-31,2022-09-30,-0.0296,-1.412581e+08,2.128120e+08,2.246977e+08,-3.80,...,19.51,201.83,11.71,1089.46,129.95,138.95,83.61,83.06,87.70,88.05
1,101026993,000416.XSHE,2023-01-01,2022-10-29,2022-09-30,-0.0077,-1.269063e+06,-8.393165e+05,-3.311927e+06,-0.47,...,-14.84,21.26,689.99,3234.28,-281.54,-543.66,-362.31,-2353.81,-401.13,-1567.17
2,101027473,000667.XSHE,2023-01-01,2022-10-28,2022-09-30,-0.1878,-4.012027e+08,-1.214390e+08,-9.329799e+06,-11.72,...,45.05,1039.13,45.05,1039.13,-177.65,-170.29,-170.98,-150.88,-76.06,-151.42
3,101029005,002022.XSHE,2023-01-01,2022-10-27,2022-09-30,2.2274,1.139878e+09,2.153462e+09,NaN,26.04,...,237.38,828.61,237.38,828.61,362.44,4797.28,361.28,5319.13,358.17,4644.16
4,101026732,002423.XSHE,2023-01-01,2022-10-29,2022-09-30,0.0170,3.849866e+07,1.803498e+08,-2.692510e+08,0.21,...,-31.62,13.06,-75.90,893.88,-113.77,-107.73,-83.56,-91.09,-87.65,-93.72

净利润同比增长率选股

与去年同期比较

In [7]:
q = query(indicator).filter(
    indicator.inc_net_profit_year_on_year > 800
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,day,pubDate,statDate,eps,adjusted_profit,operating_profit,value_change_profit,roe,...,inc_total_revenue_year_on_year,inc_total_revenue_annual,inc_revenue_year_on_year,inc_revenue_annual,inc_operation_profit_year_on_year,inc_operation_profit_annual,inc_net_profit_year_on_year,inc_net_profit_annual,inc_net_profit_to_shareholders_year_on_year,inc_net_profit_to_shareholders_annual
0,101026748,000014.XSHE,2023-01-01,2022-10-29,2022-09-30,0.5833,-1.491810e+07,-1.986068e+07,0.000000e+00,13.67,...,32.49,-96.10,32.49,-96.10,-24.98,-158.10,1539.83,407.37,1556.12,401.63
1,101026479,000045.XSHE,2023-01-01,2022-10-29,2022-09-30,0.0279,9.730544e+06,3.122836e+07,4.683359e+06,0.50,...,18.60,-12.61,18.60,-12.61,648.62,-50.09,3613.33,-55.43,186.82,-43.10
2,101029933,000155.XSHE,2023-01-01,2022-10-26,2022-09-30,0.0697,9.324992e+07,2.096215e+08,-5.681885e+05,2.03,...,371.18,24.25,371.18,24.25,2123.83,7.60,1820.04,-2.69,17473.40,-8.99
3,101025945,000504.XSHE,2023-01-01,2022-10-31,2022-09-30,-0.0052,-2.053971e+06,4.526932e+06,1.929000e+04,-9.04,...,32.35,3.71,32.35,3.71,387.45,53.32,1686.13,-39.79,22.67,-181.03
4,101026434,000517.XSHE,2023-01-01,2022-10-29,2022-09-30,0.0758,2.868887e+08,4.562034e+08,1.915065e+08,2.58,...,60.00,62.33,60.00,62.33,1601.66,279.91,980.06,141.56,1260.07,24.69

净利润环比增长率选股

与上一期进行比较

In [8]:
q = query(indicator).filter(
    indicator.inc_net_profit_annual > 800
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,day,pubDate,statDate,eps,adjusted_profit,operating_profit,value_change_profit,roe,...,inc_total_revenue_year_on_year,inc_total_revenue_annual,inc_revenue_year_on_year,inc_revenue_annual,inc_operation_profit_year_on_year,inc_operation_profit_annual,inc_net_profit_year_on_year,inc_net_profit_annual,inc_net_profit_to_shareholders_year_on_year,inc_net_profit_to_shareholders_annual
0,101029433,000415.XSHE,2023-01-01,2022-10-26,2022-09-30,0.0802,1.419040e+08,5.515060e+08,4.688990e+08,1.71,...,83.22,82.33,83.22,82.33,-37.21,292.02,-36.87,14488.22,-40.90,5639.85
1,101027190,000570.XSHE,2023-01-01,2022-10-29,2022-09-30,0.2131,-5.566500e+06,-1.759933e+06,1.796860e+08,4.78,...,12.68,8.58,12.68,8.58,726.75,1022.33,742.72,816.92,740.61,811.99
2,101026030,000592.XSHE,2023-01-01,2022-10-31,2022-09-30,0.0052,6.765703e+06,5.820688e+06,3.554260e+06,0.39,...,-47.74,-20.80,-47.74,-20.80,-22.64,526.52,57.70,1134.12,-9.39,291.94
3,101027763,000690.XSHE,2023-01-01,2022-10-28,2022-09-30,0.0833,2.048840e+08,2.277765e+08,3.730114e+06,1.62,...,30.56,105.12,30.56,105.12,-0.81,503.92,13.94,3303.95,13.94,3303.95
4,101028629,000712.XSHE,2023-01-01,2022-10-27,2022-09-30,-0.0068,-6.913528e+06,2.698237e+07,1.712901e+08,-0.20,...,-41.54,19.36,-41.54,19.36,-72.16,158.02,-80.69,12419.47,-118.75,52.99

营业利润率选股

In [9]:
q = query(indicator).filter(
    indicator.operation_profit_to_total_revenue > 200
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,day,pubDate,statDate,eps,adjusted_profit,operating_profit,value_change_profit,roe,...,inc_total_revenue_year_on_year,inc_total_revenue_annual,inc_revenue_year_on_year,inc_revenue_annual,inc_operation_profit_year_on_year,inc_operation_profit_annual,inc_net_profit_year_on_year,inc_net_profit_annual,inc_net_profit_to_shareholders_year_on_year,inc_net_profit_to_shareholders_annual
0,101026742,000616.XSHE,2023-01-01,2022-10-29,2022-09-30,0.0315,44653192.02,-14182312.05,73190100.90,0.93,...,46.40,-33.02,46.40,-33.02,-15.16,-19.05,-15.20,-19.09,-11.40,-23.03
1,101027359,000886.XSHE,2023-01-01,2022-10-28,2022-09-30,0.1031,1094371.67,14918547.61,89894936.35,3.58,...,240.42,38.47,240.42,38.47,770.00,269.81,847.76,294.53,850.65,289.86
2,101026122,002177.XSHE,2023-01-01,2022-10-31,2022-09-30,0.0799,951066.12,768792.70,77294817.53,3.68,...,4.65,3.97,4.65,3.97,229.03,282.16,221.68,208.62,221.68,208.62
3,101026080,002343.XSHE,2023-01-01,2022-10-31,2022-09-30,0.0251,26337924.75,2646919.10,0.00,1.27,...,-76.54,-88.92,-76.54,-88.92,648.34,2663.09,289.69,1108.62,297.36,995.90
4,101027331,002836.XSHE,2023-01-01,2022-10-28,2022-09-30,0.4350,1119246.78,1515525.70,96716876.85,21.94,...,-17.14,-8.66,-17.14,-8.66,6730.47,2357.36,7585.59,1967.98,7585.59,1967.98

销售净利率选股

In [10]:
q = query(indicator).filter(
    indicator.net_profit_margin > 180
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,day,pubDate,statDate,eps,adjusted_profit,operating_profit,value_change_profit,roe,...,inc_total_revenue_year_on_year,inc_total_revenue_annual,inc_revenue_year_on_year,inc_revenue_annual,inc_operation_profit_year_on_year,inc_operation_profit_annual,inc_net_profit_year_on_year,inc_net_profit_annual,inc_net_profit_to_shareholders_year_on_year,inc_net_profit_to_shareholders_annual
0,101026748,000014.XSHE,2023-01-01,2022-10-29,2022-09-30,0.5833,-1.491810e+07,-1.986068e+07,0.000000e+00,13.67,...,32.49,-96.10,32.49,-96.10,-24.98,-158.10,1539.83,407.37,1556.12,401.63
1,101026742,000616.XSHE,2023-01-01,2022-10-29,2022-09-30,0.0315,4.465319e+07,-1.418231e+07,7.319010e+07,0.93,...,46.40,-33.02,46.40,-33.02,-15.16,-19.05,-15.20,-19.09,-11.40,-23.03
2,101027515,000617.XSHE,2023-01-01,2022-10-28,2022-09-30,0.1150,1.418333e+09,2.100585e+09,1.165919e+09,1.53,...,0.84,2.70,4.37,4.40,16.90,-0.29,6.97,5.81,-1.90,-18.97
3,101027359,000886.XSHE,2023-01-01,2022-10-28,2022-09-30,0.1031,1.094372e+06,1.491855e+07,8.989494e+07,3.58,...,240.42,38.47,240.42,38.47,770.00,269.81,847.76,294.53,850.65,289.86
4,101026122,002177.XSHE,2023-01-01,2022-10-31,2022-09-30,0.0799,9.510661e+05,7.687927e+05,7.729482e+07,3.68,...,4.65,3.97,4.65,3.97,229.03,282.16,221.68,208.62,221.68,208.62

销售毛利率选股

In [13]:
q = query(indicator).filter(
    indicator.gross_profit_margin > 80
)

df = get_fundamentals(q,'2023-01-01')
df.head()

,id,code,day,pubDate,statDate,eps,adjusted_profit,operating_profit,value_change_profit,roe,...,inc_total_revenue_year_on_year,inc_total_revenue_annual,inc_revenue_year_on_year,inc_revenue_annual,inc_operation_profit_year_on_year,inc_operation_profit_annual,inc_net_profit_year_on_year,inc_net_profit_annual,inc_net_profit_to_shareholders_year_on_year,inc_net_profit_to_shareholders_annual
0,101030526,000408.XSHE,2023-01-01,2022-10-20,2022-09-30,1.1194,1.777695e+09,1.838051e+09,2.151987e+08,15.52,...,120.82,-0.97,120.82,-0.97,350.95,11.56,366.02,11.81,366.02,11.81
1,101028518,000568.XSHE,2023-01-01,2022-10-28,2022-09-30,1.8244,2.670975e+09,3.580905e+09,1.684327e+07,8.83,...,22.28,9.49,22.28,9.49,31.69,3.19,33.20,0.42,31.05,1.10
2,101027515,000617.XSHE,2023-01-01,2022-10-28,2022-09-30,0.1150,1.418333e+09,2.100585e+09,1.165919e+09,1.53,...,0.84,2.70,4.37,4.40,16.90,-0.29,6.97,5.81,-1.90,-18.97
3,101028464,000661.XSHE,2023-01-01,2022-10-28,2022-09-30,3.3227,1.331775e+09,1.727201e+09,-1.938148e+07,8.06,...,16.46,33.55,16.46,33.55,10.73,45.03,10.62,40.91,9.89,37.00
4,101028805,000762.XSHE,2023-01-01,2022-10-27,2022-09-30,0.0050,-1.247453e+06,1.661556e+07,5.662997e+06,0.10,...,-50.01,-87.89,-50.01,-87.89,-78.17,-96.96,-90.23,-98.38,-96.94,-99.24