In [1]:
import jqdatasdk as jq
import pandas as pd
jq.auth('15661317439','Ax020629.')

auth success

In [2]:
from jqdatasdk import *
'''
换手率(在valuation表)大于20
流动资产合计大于流动负债合计(在balance表)
经营活动现金流入小计大于经营活动现金流出小计(在cash_flow表)
净利润(在income表)大于20000元
销售毛利率(在indicator表)大于15
'''

'\n换手率(在valuation表)大于20\n流动资产合计大于流动负债合计(在balance表)\n经营活动现金流入小计大于经营活动现金流出小计(在cash_flow表)\n净利润(在income表)大于20000元\n销售毛利率(在indicator表)大于15\n'

In [5]:
# 查询的表为indicator财务指标表(也可以指定其他表)
# 查询条件来源于多张表，写法“表名.字段名”
q = query(indicator).filter(
    # 换手率（在valuation表）大于20
    valuation.turnover_ratio > 20,

    # 流动资产合计大于流动负债合计（在balance表）
    balance.total_current_assets > balance.total_current_liability,

    # 经营活动现金流入小计大于经营活动现金流出小计
    cash_flow.subtotal_operate_cash_inflow > cash_flow.subtotal_operate_cash_outflow,

    # 净利润（在income表）大于20000元
    income.net_profit > 20000,

    # 销售毛利率（在indicator表）大于15
    indicator.gross_profit_margin > 15
)

df = get_fundamentals(q,'2023-06-02')
df.head()

,id,code,day,pubDate,statDate,eps,adjusted_profit,operating_profit,value_change_profit,roe,...,inc_total_revenue_year_on_year,inc_total_revenue_annual,inc_revenue_year_on_year,inc_revenue_annual,inc_operation_profit_year_on_year,inc_operation_profit_annual,inc_net_profit_year_on_year,inc_net_profit_annual,inc_net_profit_to_shareholders_year_on_year,inc_net_profit_to_shareholders_annual
0,134193407,300880.XSHE,2023-06-02,2023-04-25,2023-03-31,0.1003,15697345.91,17565504.38,1966574.34,2.26,...,8.28,-38.12,8.28,-38.12,28.28,-42.06,21.16,-40.11,21.16,-40.11
1,134194006,300592.XSHE,2023-06-02,2023-04-20,2023-03-31,0.2632,72174089.42,93860863.32,NaN,3.50,...,47.44,1.51,47.44,1.51,124.59,5.66,119.56,3.81,119.20,4.96
2,134193333,301368.XSHE,2023-06-02,2023-04-25,2023-03-31,0.0667,2433143.38,2852200.91,0.00,0.83,...,-36.43,6.37,-36.43,6.37,-41.65,440.91,-39.37,233.93,-39.37,233.93
3,134192852,001314.XSHE,2023-06-02,2023-04-26,2023-03-31,0.1829,17355254.25,21762770.78,NaN,1.75,...,-27.97,-29.06,-27.97,-29.06,-30.74,9.79,-26.80,-2.71,-25.93,-1.96
4,134194127,001337.XSHE,2023-06-02,2023-03-25,2022-12-31,NaN,NaN,54294670.64,NaN,NaN,...,24.83,190.50,24.83,190.50,109.26,90.81,109.46,95.41,109.46,95.41