In [1]:
import jqdatasdk as jq
import pandas as pd

In [2]:
jq.auth('15661317439','Ax020629.')

auth success

In [3]:
df = jq.get_price("000001.XSHE",count=20,end_date='2023-11-10',frequency="daily")
df

             open  close   high    low       volume         money
2023-10-16  11.00  11.01  11.03  10.95   50162432.0  5.509887e+08
2023-10-17  11.01  11.02  11.05  10.96   49352505.0  5.431709e+08
2023-10-18  10.99  10.95  11.02  10.91   65182492.0  7.139799e+08
2023-10-19  10.91  10.60  10.92  10.59  118896083.0  1.271915e+09
2023-10-20  10.55  10.60  10.67  10.51   52613912.0  5.576186e+08
2023-10-23  10.59  10.50  10.60  10.43   53040448.0  5.570322e+08
2023-10-24  10.54  10.55  10.61  10.44   76065269.0  8.015284e+08
2023-10-25  10.51  10.38  10.54  10.36  141144968.0  1.470972e+09
2023-10-26  10.31  10.41  10.42  10.30   59999147.0  6.219153e+08
2023-10-27  10.38  10.45  10.48  10.33   91977136.0  9.575875e+08
2023-10-30  10.40  10.45  10.47  10.35   80568955.0  8.376460e+08
2023-10-31  10.43  10.46  10.49  10.41   65285523.0  6.822121e+08
2023-11-01  10.55  10.48  10.56  10.45   56730035.0  5.952119e+08
2023-11-02  10.50  10.48  10.60  10.47   61942995.0  6.523167e+08
2023-11-03  10.49  10.48  10.52  10.43   70546347.0  7.388797e+08
2023-11-06  10.51  10.69  10.69  10.51  100706221.0  1.069207e+09
2023-11-07  10.66  10.60  10.66  10.58   64086612.0  6.798156e+08
2023-11-08  10.58  10.50  10.60  10.45   87781875.0  9.236220e+08
2023-11-09  10.46  10.49  10.52  10.43   63913648.0  6.696391e+08
2023-11-10  10.45  10.30  10.47  10.29  104504417.0  1.080650e+09

In [4]:
# 添加周信息(周一为0)
df['weekday'] = df.index.weekday
df.head(10)

             open  close   high    low       volume         money  weekday
2023-10-16  11.00  11.01  11.03  10.95   50162432.0  5.509887e+08        0
2023-10-17  11.01  11.02  11.05  10.96   49352505.0  5.431709e+08        1
2023-10-18  10.99  10.95  11.02  10.91   65182492.0  7.139799e+08        2
2023-10-19  10.91  10.60  10.92  10.59  118896083.0  1.271915e+09        3
2023-10-20  10.55  10.60  10.67  10.51   52613912.0  5.576186e+08        4
2023-10-23  10.59  10.50  10.60  10.43   53040448.0  5.570322e+08        0
2023-10-24  10.54  10.55  10.61  10.44   76065269.0  8.015284e+08        1
2023-10-25  10.51  10.38  10.54  10.36  141144968.0  1.470972e+09        2
2023-10-26  10.31  10.41  10.42  10.30   59999147.0  6.219153e+08        3
2023-10-27  10.38  10.45  10.48  10.33   91977136.0  9.575875e+08        4

In [5]:
# 转换为周数据
df1 = pd.DataFrame()
# 开盘价（当周第一天）
df1['open'] = df.open.resample('W').first()
# 收盘价（当周最后一天）
df1['close'] = df.close.resample('W').last()
# 最高价（当周）
df1['high'] = df.high.resample('W').max()
# 最低价（当周）
df1['low'] = df.low.resample('W').min()
df1.head()

             open  close   high    low
2023-10-22  11.00  10.60  11.05  10.51
2023-10-29  10.59  10.45  10.61  10.30
2023-11-05  10.40  10.48  10.60  10.35
2023-11-12  10.51  10.30  10.69  10.29

In [6]:
# 汇总统计
# 周成交量
df1['volume(sum)'] = df['volume'].resample('W').sum()
# 周成交额
df1['money(sum)'] = df['money'].resample('W').sum()
df1.head()

             open  close   high    low  volume(sum)    money(sum)
2023-10-22  11.00  10.60  11.05  10.51  336207424.0  3.637673e+09
2023-10-29  10.59  10.45  10.61  10.30  422226968.0  4.409035e+09
2023-11-05  10.40  10.48  10.60  10.35  335073855.0  3.506266e+09
2023-11-12  10.51  10.30  10.69  10.29  420992773.0  4.422933e+09