In [2]:
import jqdatasdk as jq
import pandas as pd
jq.auth('15661317439','Ax020629.')

auth success

In [5]:
# 获取平安银行（000001）指定日期的财务数据
from jqdatasdk import *

q = jq.query(valuation).filter(valuation.code=='000001.XSHE')
df = jq.get_fundamentals(q,statDate='2022')
df.head()

,id,code,pe_ratio,turnover_ratio,pb_ratio,ps_ratio,pcf_ratio,capitalization,market_cap,circulating_cap,circulating_market_cap,day,pe_ratio_lyr
0,3931412,000001.XSHE,5.8227,0.4215,0.7185,1.4152,-3.0743,1.940592e+06,2553.8188,1940554.695,2553.77,2022-12-30,7.0283