In [2]:
import jqdatasdk as jq
import pandas as pd
jq.auth('15661317439','Ax020629.')

auth success

In [3]:
from jqdatasdk import *
'''
income表示利润数据

balance表示资产负债数据

cash_flow表示现金流数据

各财务数据的含义:

income.statDate:财务报表统计的季度的最后一天
income.code:股票代码
income.basic_eps:基本每股收益(元)
balance.cash_equivalents:货币资金(元)
cash_flow.goods_sale_and_service_render_cash: 销售商品、提供劳务收到的现金(元)
'''

'\nincome表示利润数据\n\nbalance表示资产负债数据\n\ncash_flow表示现金流数据\n\n各财务数据的含义:\n\nincome.statDate:财务报表统计的季度的最后一天\nincome.code:股票代码\nincome.basic_eps:基本每股收益(元)\nbalance.cash_equivalents:货币资金(元)\ncash_flow.goods_sale_and_service_render_cash: 销售商品、提供劳务收到的现金(元)\n'

In [13]:
q = query(
    income.statDate,
    income.code,
    income.basic_eps,
    balance.cash_equivalents,
    cash_flow.goods_sale_and_service_render_cash
   ).filter(income.code == '000001.XSHE')


df = [get_fundamentals(q, statDate='2023q'+str(i)) for i in range(1, 5)]

display(df[0])
display(df[1])
display(df[2])

,statDate,code,basic_eps,cash_equivalents,goods_sale_and_service_render_cash
0,2023-03-31,000001.XSHE,0.65,4.273490e+11,0.0

,statDate,code,basic_eps,cash_equivalents,goods_sale_and_service_render_cash
0,2023-06-30,000001.XSHE,0.5098,4.175150e+11,NaN

,statDate,code,basic_eps,cash_equivalents,goods_sale_and_service_render_cash
0,2023-09-30,000001.XSHE,0.6974,4.484470e+11,NaN